services:
  app:
    build:
      context: .
    volumes:
      - ./app:/app
    command: python manage.py runserver 0.0.0.0:8000
    environment:
      - DB_HOST=db
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY}
      - GOOGLE_WEBAPP_CLIENT_ID=${GOOGLE_WEBAPP_CLIENT_ID}
      - GOOGLE_WEBAPP_CLIENT_SECRET=${GOOGLE_WEBAPP_CLIENT_SECRET}
      - SU_UID=${SU_UID}
      - SU_EMAIL=${SU_EMAIL}
      - DJANGO_ALLOWED_HOSTS=${DJANGO_ALLOWED_HOSTS}
      - DEBUG=${DEBUG}
      - IS_PRODUCTION=${IS_PRODUCTION}
    depends_on:
      - db
    networks:
      - default
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.tagmate.rule=Host(`tagmate2.seriouspavel.com`)"
      - "traefik.http.routers.tagmate.entrypoints=web"
      # Redirect HTTP to HTTPS
      - "traefik.http.routers.tagmate.middlewares=redirect-to-https"
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      # For HTTPS with Let's Encrypt
      - "traefik.http.routers.tagmate-secure.rule=Host(`tagmate2.seriouspavel.com`)"
      - "traefik.http.routers.tagmate-secure.entrypoints=websecure"
      - "traefik.http.routers.tagmate-secure.tls.certresolver=le"
      - "traefik.http.services.tagmate.loadbalancer.server.port=8000"
      # - "traefik.http.routers.tagmate-secure.middlewares=restricted-ips@file"

  db:
    image: postgres:14.15-alpine
    volumes:
      - dev-db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
    networks:
      - default

volumes:
  dev-db-data:

networks:
  traefik:
    external: true