services:
  app:
    build:
      context: .
      args:
        - DEV=true
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    command: python manage.py runserver 0.0.0.0:8000
    environment:
      - DB_HOST=db
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY}
      - DEBUG=${DEBUG}
      - IS_PRODUCTION={IS_PRODUCTION}
      - GOOGLE_WEBAPP_CLIENT_ID=${GOOGLE_WEBAPP_CLIENT_ID}
      - GOOGLE_WEBAPP_CLIENT_SECRET=${GOOGLE_WEBAPP_CLIENT_SECRET}
      - SU_UID=${SU_UID}
      - SU_EMAIL=${SU_EMAIL}
    depends_on:
      - db

  db:
    image: postgres:14.15-alpine
    volumes:
      - dev-db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}

volumes:
  dev-db-data:
