networks:
  traefik:
    external: true
  internal:
    external: false

volumes:
  db-data:
  staticfiles:
    external: true

services:
  app:
    build:
      context: .
    volumes:
      - ./app:/app
      - staticfiles:/app/staticfiles
    command: gunicorn app.wsgi:application --bind 0.0.0.0:8000
    environment:
      - DB_HOST=db
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY}
      - GOOGLE_WEBAPP_CLIENT_ID=${GOOGLE_WEBAPP_CLIENT_ID}
      - GOOGLE_WEBAPP_CLIENT_SECRET=${GOOGLE_WEBAPP_CLIENT_SECRET}
      - SU_UID=${SU_UID}
      - SU_EMAIL=${SU_EMAIL}
      - DJANGO_ALLOWED_HOSTS=${DJANGO_ALLOWED_HOSTS}
      - DEBUG=${DEBUG}
      - IS_PRODUCTION=${IS_PRODUCTION}
      - DOMAIN=${DOMAIN}
    depends_on:
      - db
    restart: always
    networks:
      - traefik
      - internal
    labels:
      - "traefik.enable=true"
      # For HTTPS with Let's Encrypt
      - "traefik.http.routers.tagmate-secure.rule=Host(`tagmate.${DOMAIN}`) || Host(`tagmate2.${DOMAIN}`)"
      - "traefik.http.routers.tagmate-secure.entrypoints=websecure"
      - "traefik.http.routers.tagmate-secure.tls.certresolver=le"
      - "traefik.http.routers.tagmate-secure.middlewares=restricted-ips@file"
      - "traefik.http.services.tagmate.loadbalancer.server.port=8000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:8000/health-check/"]
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 1m
      start_interval: 10s


  db:
    image: postgres:14.15-alpine
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
    restart: always
    networks:
      - internal
