{% extends 'base.html' %}
{% load static %}

{% block links %}
  <link rel="stylesheet" href="{% static 'posts/css/post_editor_style.css' %}">
  <link rel="stylesheet" href="{% static 'posts/css/modal_window_style.css' %}">
{% endblock links %}

{% block script %}
{% endblock script %}

{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
  <script src="{% static 'js/copy_preview_text.js' %}"></script>
  <script src="{% static 'js/create_item_subblock_behavior.js' %}"></script>
  <script src="{% static 'js/dnd_sortable.js' %}"></script>
  <script src="{% static 'js/auto_grow_text_inputs.js' %}"></script>
  <script src="{% static 'js/submit_on_blur.js' %}"></script>
  <script src="{% static 'js/switch_left_tabs.js' %}"></script>
  <script src="{% static 'js/foolproof_deletion.js' %}"></script>
{% endblock scripts %}

{% block title %}Post Editor{% endblock title %}

{% block content %}

  {% if not user.is_authenticated %}
    <p>You are not logged in</p>
    <a href="{% url 'google_login' %}">Login</a>
  {% else %}

    <div id="delete-modal-bg" class="modal-bg" style="display:none;">
      <div class="modal-window">
        <p id="delete-modal-text">Are you sure you want to delete this item?</p>
        <button id="confirm-delete-btn" class="highlighted">Yes, Delete</button>
        <button id="cancel-delete-btn">Cancel</button>
      </div>
    </div>

    <div id="app-main">

      <div class="app-block app-block-L">
        <div class="tabs">
          <button id="tab-posts" class="tab-btn" type="button">Posts</button>
          <button id="tab-tgs" class="tab-btn" type="button">TagGroups</button>
        </div>
        <div id="recent-posts" class="list">
          {% if current_post %}
            <div class="list-item fake-btn-wrapper">
              {% include 'posts/auxiliary/create_post.html' %}
            </div>
          {% endif %}
          <div class="list-inner">
            {% for post in user.posts.all|dictsortreversed:"updated_at" %}
              <a class="list-item{% if post.id == current_post.id %} active{% endif %}" href=
                {% if current_tg %}
                  "{% url 'post_tg_editor' post_pk=post.id tg_pk=current_tg.id %}">
                {% else %}
                  "{% url 'post_editor' post_pk=post.id %}">
                {% endif %}
              <div class="list-item-title">
                {{ post.title }}
              </div>
              <div class="list-item-date">
                {{ post.created_at|date:"d M'y" }}
              </div>
              </a>
            {% endfor %}
          </div>
          <div class="list-end"></div>
        </div>

        <div id="recent-tgs" class="list">
            {% if current_tg %}
              <div class="list-item fake-btn-wrapper">
                {% include 'posts/auxiliary/create_tg.html' %}
              </div>
            {% endif %}
          <div class="list-inner">
            {% for tg in user.tag_groups.all|dictsortreversed:"updated_at" %}
              <a class="list-item{% if tg.id == current_tg.id %} active{% endif %}" href=
                {% if current_post %}
                  "{% url 'post_tg_editor' post_pk=current_post.id tg_pk=tg.id %}">
                {% else %}
                  "{% url 'tg_editor' tg_pk=tg.id %}">
                {% endif %}
              <div class="list-item-title">
                {{ tg.name }}
              </div>
              <div class="list-item-date">
                {{ tg.updated_at|date:"d M'y" }}
              </div>
              </a>
            {% endfor %}
          </div>
          <div class="list-end"></div>
        </div>
      </div>

      <div class="app-block-M">
        <div class="app-block">
          <div class="item-editor fake-btn-wrapper">
            {% if current_post %}
              <div class="block-controls">
                <form method="post" class="delete-item-form">
                  {% csrf_token %}
                  <input type="hidden" name="action" value="delete_post">
                  <button type="button" class="icon-btn delete-item-btn" data-delete-type="post" title="Delete Post"></button>
                </form>
                <form method="post" class="close-item-form">
                  {% csrf_token %}
                  <input type="hidden" name="action" value="close_current_post">
                  <button class="icon-btn close-item-btn" title="Close Post"></button>
                </form>
              </div>

              <form method="post" class="update-form">
                {% csrf_token %}
                <label>
                  <input type="hidden" name="action" value="update_post_title">
                  <input type="text" class="edit-like-text submit-on-blur" id="post-title"
                         name="post_title" placeholder="" value="{{ current_post.title }}" required>
                </label>
                <button class="update-btn" id="update-post-title-btn">Update Title</button>
              </form>

              <form method="post">
                {% csrf_token %}
                <label class="input-button-group">
                  <input type="hidden" name="action" value="post_attach_tags">
                  <input type="text" name="tags_to_attach" id="post-tags-to-attach"
                         placeholder="Add tags (comma, hashtag or space separated)"
                         value="{{ post_tags_to_attach }}"
                         {% if submitted_input_id == "post-tags-to-attach" %}autofocus{% endif %}
                         required>
                  <button type="submit">Add</button>
                </label>
              </form>

              <div id="dnd-list-post" class="tag-list" data-item-id="{{ current_post.id }}">
                <div class="tag-counter">{{ current_post.ordered_tags.count }}</div>
                {% for tag in current_post.ordered_tags %}
                  <div class="tag" title="{{ tag.name }}">{{ tag.name|truncatechars:25 }}
                    <form method="post" action="{{ request.path }}">
                      {% csrf_token %}
                      <input type="hidden" name="action" value="post_detach_tag">
                      <input type="hidden" name="tag_to_detach" value="{{ tag.id }}">
                      <button class="remove-tag-btn icon-btn"></button>
                    </form>
                  </div>
                {% endfor %}
              </div>

            {% else %}
              {% include 'posts/auxiliary/create_post.html' %}
            {% endif %}
          </div>
        </div>

        <div class="post-tg-intermediate">
          {% if current_post and current_tg %}
              <form method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="copy_tags_to_tg">
                <button>Copy Tags to TagGroup ⬇</button>
              </form>
              <form method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="copy_tags_to_post">
                <button>⬆ Copy Tags to Post</button>
              </form>
          {% endif %}
        </div>

        <div class="app-block">
          <div class="item-editor fake-btn-wrapper">
            {% if current_tg %}
              <div class="block-controls">
                <form method="post" class="delete-item-form">
                  {% csrf_token %}
                  <input type="hidden" name="action" value="delete_tg">
                  <button type="button" class="icon-btn delete-item-btn" data-delete-type="taggroup" title="Delete TagGroup"></button>
                </form>
                <form method="post" class="close-item-form">
                  {% csrf_token %}
                  <input type="hidden" name="action" value="close_current_tg">
                  <button class="icon-btn close-item-btn" title="Close TagGroup"></button>
                </form>
              </div>

              <form method="post" class="update-form">
                {% csrf_token %}
                <label>
                  <input type="hidden" name="action" value="update_tg">
                  <input type="text" name="tg_name" placeholder="" value="{{ current_tg.name }}"
                         id="tg-name" class="edit-like-text submit-on-blur" required>
                </label>
                <button class="update-btn" id="update-tg-name-btn">Update Name</button>
              </form>

              <form method="post">
                {% csrf_token %}
                <label class="input-button-group">
                  <input type="hidden" name="action" value="tg_attach_tags">
                  <input type="text" name="tags_to_attach" id="tg-tags-to-attach"
                         placeholder="Add tags (comma, hashtag or space separated)"
                         value="{{ tg_tags_to_attach }}"
                         {% if submitted_input_id == "tg-tags-to-attach" %}autofocus{% endif %}
                         required>
                  <button type="submit">Add</button>
                </label>
              </form>

              <div id="dnd-list-tg" class="tag-list" data-item-id="{{ current_tg.id }}">
                {% for tg_tag in current_tg.ordered_tags %}
                  <div class="tag" title="{{ tg_tag.name }}">{{ tg_tag.name|truncatechars:25 }}
                    <form method="post">
                      {% csrf_token %}
                      <input type="hidden" name="action" value="tg_detach_tag">
                      <input type="hidden" name="tag_to_detach" value="{{ tg_tag.id }}">
                      <button class="remove-tag-btn icon-btn"></button>
                    </form>
                  </div>
                {% endfor %}
              </div>

            {% else %}
              {% include 'posts/auxiliary/create_tg.html' %}
            {% endif %}
          </div>
        </div>
      </div>

      <div class="app-block app-block-R post-preview">
        Post <span class="highlighted-text">{{ current_post.title }}</span> preview:
        <div class="post-preview-text">
          <form method="post" class="update-form">
            {% csrf_token %}
            <button id="update-post-desc-btn" class="update-btn">Save!</button>
            <label>
              <input type="hidden" name="action" value="update_post_desc">
              <textarea type="text" class="edit-like-text submit-on-blur" oninput="auto_grow(this)" id="post-desc"
                        name="post_desc" placeholder="">{{ current_post.description }}</textarea>
            </label>
          </form>

          <div id="post-preview-tags">
            {% for tag in current_post.ordered_tags %}
              {{ tag }}
            {% endfor %}
          </div>
        </div>
        <button type="button" onclick="copyPreviewText()">Copy as Plain Text</button>
      </div>

    </div>
  {% endif %}
{% endblock content %}
