{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'posts/css/post_editor_style.css' %}">
{% endblock links %}

{% block script %}
{% endblock script %}

{% block title %}Post Editor{% endblock title%}

{% block content %}
<div class="page-header">Post Editor</div>
{% if messages %}
    {% for message in messages %}
        <div class="message {{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}

{% if not user.is_authenticated %}
    <p>You are not logged in</p>
    <a href="{% url 'google_login' %}">Login</a>
{% else %}
    <div id="main">
        <div class="block-L">
            <div id="recent-posts" class="list">
                Posts:
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="create_post">
                    <label>
                        <input type="text" name="new_post_title" value="{{ new_post_title }}" placeholder="New post title">
                    </label>
                    <button>New Post</button>
                </form>
                {% for post in user.posts.all|dictsortreversed:"updated_at" %}
                    <a class="list-item{% if post.id == current_post.id %} highlighted{% endif %}" href=
                    {% if current_tg %}
                        "{% url 'post_tg_editor' post_pk=post.id tg_pk=current_tg.id%}">
                    {% else %}
                        "{% url 'post_editor' post_pk=post.id %}">
                    {% endif %}
                        <div >
                            {{ post.title }}
                            <div>
                                {{ post.created_at|date:"d M'y" }}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div id="recent-tgs" class="list">
                Recent TagGroups:
                <button>New TagGroup</button>
                {% for tg in user.tag_groups.all %}
                    <a class="list-item{% if tg.id == current_tg.id %} highlighted{% endif %}" href=
                        {% if current_post %}
                            "{% url 'post_tg_editor' post_pk=current_post.id tg_pk=tg.id %}">
                        {% else %}
                            "{% url 'tg_editor' tg_pk=tg.id %}">
                        {% endif %}
                            <div >
                                {{ tg.name }}
                                <div>
                                    {{ tg.updated_at|date:"d M'y" }}
                                </div>
                            </div>
                        </a>
                {% endfor %}
            </div>
        </div>
        <div class="block-M">
            <div class="post-editor">
                {% if current_post %}
                    <form method="post">
                        {% csrf_token %}
                        <label>
                            <input type="hidden" name="action" value="update_post">
                            <input type="text" name="post_title" placeholder="" value="{{ current_post.title }}" required>
                            <input type="text" name="post_desc" placeholder="" value="{{ current_post.description }}">
                        </label>
                        <button>Update Post</button>

                    </form>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="delete_post">
                        <button class="highlighted">Delete Post</button>
                    </form>
                {% endif %}
            </div>
            <div class="tags-editor">
                Tags:

                <form method="post" >
                    {% csrf_token %}
                    <label>
                        <input type="text" name="tag_names"
                               placeholder="Add tags (comma, hashtag or space separated)"
                               value="{{ tag_names }}"
                               required>
                    </label>
                    <button type="submit">Add Tag(s) to Post</button>
                </form>

                <div class="tag-list">
                    {% for tag in current_post.ordered_tags %}
                        <div class="tag" title="{{ tag.name }}">{{ tag.name|truncatechars:25 }}
                            <form method="post" action="{{ request.path }}">
                                {% csrf_token %}
                                <input type="hidden" name="tag_to_detach" value="{{ tag.id }}">
                                <button></button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
                <button>Copy Tags to Post</button>
                <button>Copy Tags to TagGroup</button>
            <div class="tg-editor">
                TagGroups:

                <button>Add Tag(s) to TagGroup</button>
                <button>Update TagGroup</button>
                <button class="highlighted">Delete TagGroup</button>

                <div class="tag-list">
                    {% for tg_tag in current_tg.tags.all %}
                        <div class="tag" title="{{ tg_tag.name }}">{{ tg_tag.name|truncatechars:25 }}
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="tg_tag_to_detach" value="{{ tg_tag.id }}">
                                <button></button>
                            </form>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>

        <div class="post-preview block-R">
            Post preview:
            <p>{{ current_post.title }}</p>
            <p>{{ current_post.description }}</p>
            <div class="post-preview-tags">
                {% for tag in current_post.ordered_tags %}
                    {{ tag }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
{% endblock content %}