/* general */
button {
  background-color: var(--primary-inverted);
  box-shadow: inset 0 0 1px 1px var(--primary);
  border: none;
  border-radius: 5px;
  font-size: var(--text-size-M2);
  padding: 5px 1.5ch;
  height: var(--default-btn-height);
  color: var(--primary);
  cursor: pointer;
}

/* fake */
.fake-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
}

.fake-btn path.stroke {
  stroke: var(--primary-inverted);
}

.fake-btn:hover path.stroke {
  stroke: var(--primary);
}

.fake-btn:active path.stroke {
  stroke: var(--primary-inverted);
}

.fake-btn path.circle {
  stroke: var(--primary);
}

.fake-btn:active path.circle {
  stroke: var(--primary-inverted);
}

.fake-btn path.opacity-layer {
  fill: var(--bg-light);
}

.fake-btn:hover path.opacity-layer,
.fake-btn:active path.opacity-layer {
  fill: var(--bg-dark);
}

.fake-btn:hover {
  background: var(--bg);
}

.fake-btn:active {
  background: var(--bg-light);
  transform: translate(1px, 1px);
}

/* close */
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 5px;
  border: none;
  display: none;
  opacity: 0.7;
  height: 1rem;
  aspect-ratio: 1;
  padding: 0;
  font-size: var(--text-size-S);
  box-shadow: inset 0 0 1px var(--bg);
  font-weight: 600;
}

/* Choose any sibling regardless the position */
.fake-btn:active ~ .close-btn {
  top: 1px
}

.fake-btn-wrapper:hover .close-btn {
  display: block;
  z-index: 1;
}

/* update */
.update-btn {
  display: none;
}

/* icon */
.icon-btn {
  box-shadow: none;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 40%;
  height: var(--icon-btn-height);
  aspect-ratio: 1;
  font-size: 0;
  padding: 0.1rem;
  /* box-shadow: 0 0 0px 1px var(--text-muted); */
}

.icon-btn svg {
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* remove tag */
.remove-tag-btn {
  position: absolute;
  top: calc(var(--icon-btn-height) / 4 * -1);
  right: calc(var(--icon-btn-height) / 4 * -1);
  display: none;
  height: var(--icon-btn-height);
  border-radius: 50%;
  /* padding: 0rem; */
  /* box-shadow: 0 0 2px 0px var(--text-muted); */
}

/* delete item */
.delete-item-btn {
  background-color: var(--danger);
}

.icon-btn .full-image {
  stroke: var(--text-muted);
}

/* close item */
.close-item-btn {
}
