/* general */
button {
  background-color: var(--primary-inverted);
  box-shadow: inset 0 0 1px 1px var(--primary);
  border: none;
  border-radius: var(--border-radius-S);
  font-size: var(--text-size-M1);
  padding: 5px 1.5ch;
  height: var(--default-btn-height);
  color: var(--primary);
  cursor: pointer;
  transition: background 0.2s, transform 0.2s, box-shadow 0.2s;
  font-weight: bold;
}

svg path {
  transition: stroke 0.2s, fill 0.2s;
}

button svg {
  display: inline-block;
  width: 100%;
  height: 100%;
}

button:hover:not(.tab-btn, .icon-btn) {
  background-color: var(--primary-inverted-darker);
}

button:active:not(.tab-btn, .icon-btn) {
  background-color: var(--primary-inverted-darkest);
}

button:active {
  transform: translate(0, 1px);
}

/* update */
.update-btn {
  display: none;
}

/* icon */
.icon-btn {
  box-shadow: none;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 40%;
  height: var(--icon-btn-height);
  aspect-ratio: 1;
  font-size: 0;
  padding: 0.1rem;
}

/* remove tag */
.remove-tag-btn {
  position: absolute;
  top: calc(var(--icon-btn-height) / 4 * -1);
  right: calc(var(--icon-btn-height) / 4 * -1);
  display: none;
  height: var(--icon-btn-height);
  border-radius: 50%;
}

/* delete item */
.delete-item-btn {
  background-color: var(--danger);
}

.icon-btn .full-image {
  stroke: var(--text-muted);
}

/* close item */
.close-item-btn {
}

/* create-item-btn */
button.create-item-btn {
  height: 5rem;
}

button.big-icon-btn {
  padding: 0;
  border-radius: 50%;
  background: none;
  box-shadow: none;
}

button.big-icon-btn .inner-element {
  stroke: var(--primary-inverted);
}

button.big-icon-btn:hover .inner-element {
  stroke: var(--primary);
}

button.big-icon-btn:active .inner-element {
  stroke: var(--primary-inverted);
}

button.big-icon-btn .outer-element {
  stroke: var(--primary);
}

button.big-icon-btn:active .outer-element {
  stroke: var(--primary-inverted);
}

button.big-icon-btn .bg-layer {
  fill: var(--bg-dark);
}

button.big-icon-btn:hover,
button.big-icon-btn:active {
  background: none;
}

.list-item button.create-item-btn {
  height: 4rem;
  width: 8ch;
}

.list-item.create-item-wrapper {
  flex-direction: row;
  font-size: var(--text-size-M1);
  cursor: auto;
}

.create-item-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 8ch;
}

.create-item-label span {
  font-size: var(--text-size-M1);
  color: var(--text-dimmed);
}

.copy-tags-btn {
  height: 3.3rem;
}

button.add-tags-btn {
  padding: var(--input-text-padding) 2rem;
  border-radius: 0 var(--border-radius-S) var(--border-radius-S) 0;
  display: flex;
  align-items: center;
}

.add-tags-btn:active {
  transform: scale(0.97);
}
