:root {
  --text-size-L: 1.2rem;
  --text-size-M2: 1.1rem;
  --text-size-M1: 1rem;
  --text-size-S: 0.8rem;
  --border-radius-S: 10px;
  --border-radius-M: calc(var(--border-radius-S) * 1.5);
  --border-radius-L: calc(var(--border-radius-M) * 1.5);
  --input-text-padding: 0.5rem;
  --default-btn-height: 2.5rem;
  --icon-btn-height: 1.5rem;
  --header-gap: 0.8rem;
  --block-L-min-width: 16rem;
  --content-nested-padding: 1.25rem;
  --outline-width: 1px;

  font-size: 16px;
  --border-light: oklch(0.75 0.11 239.74);

  /* Default theme variables (fallback to light theme) */
  --primary-inverted-darker: rgb(146 199 243);
  --primary-inverted-darkest: rgb(187 221 249);
  --input-unfocused: #f0faff;
  /* hsl (fallback color) */
  --bg-dark: hsl(205 45% 90%);
  --bg: hsl(205 93% 95%);
  --bg-light: hsl(205 100% 100%);
  --text: hsl(209 100% 5%);
  --text-muted: hsl(204 28% 28%);
  --highlight: hsl(205 100% 100%);
  --border: hsl(205 17% 50%);
  --border-muted: hsl(205 23% 62%);
  --primary: hsl(198 100% 20%);
  --secondary: hsl(32 100% 20%);
  --danger: hsl(9 21% 41%);
  --warning: hsl(52 23% 34%);
  --success: hsl(147 19% 36%);
  --info: hsl(217 22% 41%);
  /* oklch */
  --bg-dark: oklch(0.92 0.02 239);
  --bg: oklch(0.96 0.02 239);
  --bg-light: oklch(1 0.02 239);
  --text: oklch(0.15 0.04 239);
  --text-muted: oklch(0.4 0.04 239);
  --text-dimmed: oklch(0.6 0.04 239);
  --highlight: oklch(1 0.04 239);
  --border: oklch(0.6 0.04 239);
  --border-muted: oklch(0.7 0.04 239);
  --primary: oklch(0.4 0.1 239);
  --primary-inverted: oklch(0.76 0.1 239);
  --secondary: oklch(0.4 0.1 59);
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);
}

body.theme-light {
  --primary-inverted-darker: rgb(146 199 243);
  --primary-inverted-darkest: rgb(187 221 249);
  --input-unfocused: #f0faff;
  /* hsl (fallback color) */
  --bg-dark: hsl(205 45% 90%);
  --bg: hsl(205 93% 95%);
  --bg-light: hsl(205 100% 100%);
  --text: hsl(209 100% 5%);
  --text-muted: hsl(204 28% 28%);
  --highlight: hsl(205 100% 100%);
  --border: hsl(205 17% 50%);
  --border-muted: hsl(205 23% 62%);
  --primary: hsl(198 100% 20%);
  --secondary: hsl(32 100% 20%);
  --danger: hsl(9 21% 41%);
  --warning: hsl(52 23% 34%);
  --success: hsl(147 19% 36%);
  --info: hsl(217 22% 41%);
  /* oklch */
  --bg-dark: oklch(0.92 0.02 239);
  --bg: oklch(0.96 0.02 239);
  --bg-light: oklch(1 0.02 239);
  --text: oklch(0.15 0.04 239);
  --text-muted: oklch(0.4 0.04 239);
  --text-dimmed: oklch(0.6 0.04 239);
  --highlight: oklch(1 0.04 239);
  --border: oklch(0.6 0.04 239);
  --border-muted: oklch(0.7 0.04 239);
  --primary: oklch(0.4 0.1 239);
  --primary-inverted: oklch(0.76 0.1 239);
  --secondary: oklch(0.4 0.1 59);
  --danger-inverted: oklch(0.5 0.05 30);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);
}
body.theme-dark {
  --primary-inverted-darker: rgb(6 62 109);
  --primary-inverted-darkest: rgb(11 42 68);
  --input-unfocused: var(--bg-dark);
  /* hsl (fallback color) */
  --bg-dark: hsl(213 92% 2%);
  --bg: hsl(206 63% 4%);
  --bg-light: hsl(204 38% 9%);
  --text: hsl(205 100% 95%);
  --text-muted: hsl(205 29% 70%);
  --highlight: hsl(205 21% 39%);
  --border: hsl(204 28% 28%);
  --border-muted: hsl(204 43% 18%);
  --primary: hsl(204 74% 68%);
  --secondary: hsl(27 65% 66%);
  --danger: hsl(9 26% 64%);
  --warning: hsl(52 19% 57%);
  --success: hsl(146 17% 59%);
  --info: hsl(217 28% 65%);
  /* oklch */
  --bg-dark: oklch(0.2 0.02 239);
  --bg: oklch(0.25 0.02 239);
  --bg-light: oklch(0.3 0.02 239);
  --text: oklch(0.91 0.01 221.03);
  --text-muted: oklch(0.81 0.02 238.91);
  --text-dimmed: oklch(0.56 0.04 239);
  --highlight: oklch(0.5 0.04 239);
  --border: oklch(0.4 0.04 239);
  --border-muted: oklch(0.44 0.04 238.79);
  --primary: oklch(0.76 0.1 239);
  --primary-inverted: oklch(0.4 0.1 239);
  --secondary: oklch(0.76 0.1 59);
  --danger-inverted: oklch(0.7 0.05 30);
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);
}

* {
  color: var(--text-muted);
}

input[type="text"]::placeholder {
  color: var(--text-dimmed);
}

input[type="text"],
textarea[type="text"] {
  font-family: "Reddit Mono", monospace;
  box-shadow: inset 0 0 0 var(--outline-width) var(--border-muted);
}
input[type="text"]:focus,
textarea[type="text"]:focus {
  box-shadow: inset 0 0 0 1px var(--border-light);
}

.add-tags-input,
button {
  font-family: "Reddit Sans", serif;
}