.message-area {
  position: fixed;
  top: 0.6rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1500;
  width: max-content;
  max-width: 90vw;
  pointer-events: none;
}

.message {
  opacity: 0;
  background: var(--bg-dark);
  padding: 1rem 1.7rem;
  border-radius: var(--border-radius-S);
  margin-bottom: 0.6rem;
  pointer-events: auto;
  font-size: var(--text-size-M2);
  transition: all 0.3s ease-in-out;
}

.message.in {
  opacity: 1;
}

.message.success {
  color: var(--success);
  box-shadow: inset 0 0 var(--outline-width) var(--outline-width) var(--success);
}

.message.error {
  color: var(--error);
  box-shadow: inset 0 0 var(--outline-width) var(--outline-width) var(--error);
}