#main {
    display: flex;
    min-width: 100%;
    box-shadow: 0 0 15px 0 firebrick;
}

#main > div {
    margin-right: 10px;
    padding: 10px;
}

#main > div:last-child {
    margin-right: 0;
}

.block-L {
    background-color: #ff9a9a;
    min-width: 100px;
    width: 15%;
}

.recent-posts {
    box-shadow: inset 0 0 30px 0 blue;
}

.block-M {
    background-color: #ffdd86;
    min-width: 600px;
    width: 60%;
}

.post-editor {
    box-shadow: inset 0 0 30px 0 cornflowerblue;
}

.tg-editor {
    box-shadow: inset 0 0 30px 0 olivedrab;
}

.block-R {
    background-color: #9ce885;
    min-width: 300px;
    max-width: 600px;
    width: 25%;
}

.post-preview {
    box-shadow: inset 0 0 30px 0 darkmagenta;
}

.tag-list {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: inset 0 0 30px 2px white;
    background-color: #7b2222;
    min-width: 300px;
    max-width: 100%;
    min-height: 200px;
    padding: 7px;

}

.tag {
    position: relative; /* Make this the reference for absolute children */
    box-shadow: inset 0 0 30px 2px blue;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #20c3c3;
    min-width: 70px;
    height: 25px;
    border-radius: 5px;
    color: white;
    margin: 7px;
    font-size: 14px;
    padding: 5px 7px;
}

.tag button {
    position: absolute;
    top: -2px;
    right: -2px;
    display: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    color: white;
    background: linear-gradient(to bottom, #2332a9 40%, #cdf5f8 40% 60%, #2332a9 60%);
    box-shadow: inset 0 0 3px 2px #2332a9, 0 0 2px 0 #cdf5f8;
}

.tag:hover button {
    display:block;
}