:root {
  --text-size-L: 1.2rem;
  --text-size-M: 1rem;
  --text-size-S: 0.8rem;
  --border-light: oklch(0.8 0.04 239);

  font-size: 16px;
}

body.theme-light {
  /* hsl (fallback color) */
  --bg-dark: hsl(205 45% 90%);
  --bg: hsl(205 93% 95%);
  --bg-light: hsl(205 100% 100%);
  --text: hsl(209 100% 5%);
  --text-muted: hsl(204 28% 28%);
  --highlight: hsl(205 100% 100%);
  --border: hsl(205 17% 50%);
  --border-muted: hsl(205 23% 62%);
  --primary: hsl(198 100% 20%);
  --secondary: hsl(32 100% 20%);
  --danger: hsl(9 21% 41%);
  --warning: hsl(52 23% 34%);
  --success: hsl(147 19% 36%);
  --info: hsl(217 22% 41%);
  /* oklch */
  --bg-dark: oklch(0.92 0.02 239);
  --bg: oklch(0.96 0.02 239);
  --bg-light: oklch(1 0.02 239);
  --text: oklch(0.15 0.04 239);
  --text-muted: oklch(0.4 0.04 239);
  --text-dimmed: oklch(0.6 0.04 239);
  --highlight: oklch(1 0.04 239);
  --border: oklch(0.6 0.04 239);
  --border-muted: oklch(0.7 0.04 239);
  --primary: oklch(0.4 0.1 239);
  --secondary: oklch(0.4 0.1 59);
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);
}
body.theme-dark {
  /* hsl (fallback color) */
  --bg-dark: hsl(213 92% 2%);
  --bg: hsl(206 63% 4%);
  --bg-light: hsl(204 38% 9%);
  --text: hsl(205 100% 95%);
  --text-muted: hsl(205 29% 70%);
  --highlight: hsl(205 21% 39%);
  --border: hsl(204 28% 28%);
  --border-muted: hsl(204 43% 18%);
  --primary: hsl(204 74% 68%);
  --secondary: hsl(27 65% 66%);
  --danger: hsl(9 26% 64%);
  --warning: hsl(52 19% 57%);
  --success: hsl(146 17% 59%);
  --info: hsl(217 28% 65%);
  /* oklch */
  --bg-dark: oklch(0.2 0.02 239);
  --bg: oklch(0.25 0.02 239);
  --bg-light: oklch(0.3 0.02 239);
  --text: oklch(0.96 0.04 239);
  --text-muted: oklch(0.76 0.04 239);
  --text-dimmed: oklch(0.56 0.04 239);
  --highlight: oklch(0.5 0.04 239);
  --border: oklch(0.4 0.04 239);
  --border-muted: oklch(0.3 0.04 239);
  --primary: oklch(0.76 0.1 239);
  --secondary: oklch(0.76 0.1 59);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);
}

* {
  color: var(--text-muted);
}

.content-nested {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--bg-dark);
}

#app-main {
  display: flex;
  min-width: 100%;
  flex: 1 1 0;
  min-height: 0;
  gap: 10px;
}

#app-main > .app-block {
  height: calc(100% - 20px);
  overflow: auto;
  padding: 10px;
  background-color: var(--bg);
  border-radius: 10px;
  box-shadow: 2px 2px 5px var(--border);
}

.app-block-L {
  min-width: 10rem;
  width: 15%;
}

.app-block-M {
  min-width: 38rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-block-R {
  min-width: 300px;
  max-width: 600px;
  width: 25%;
}


/* common styles */
.highlighted {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px 2px red ;
}


/* app-block-L styles */
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /*box-shadow: inset 0 0 2px 1px rgba(0, 128, 0, 0.44);*/
  max-height: calc(100% - 50px);
  overflow: auto;
}

.list:nth-child(1n+2):not(:first-child) {
  margin-top: 7px;
}

.list-item {
  text-decoration: none;
  padding: 5px;
  background-color: var(--bg-dark);
  box-shadow: 1px -1px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  height: 3rem;
  min-height: 3rem;
  max-height: 3rem;
  line-height: 1.5;
}

.list-item-title {
  font-size: var(--text-size-M);
  color: var(--text-muted);
  overflow: hidden;
  overflow-wrap: break-word;
}

.list-item-date {
  position: absolute;
  right: 0.3rem;
  bottom: 0.35rem;
  font-size: var(--text-size-S);
  color: var(--text-dimmed);
  font-style: italic;
  background: linear-gradient(to right, transparent, var(--bg-dark) 2.5rem);
  padding: 0.3rem 0.3rem 0 3.5rem;
}

.fake-btn{
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 5px;
  translate: -5px -5px;
  z-index: 2;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  display: none;
}

.list-item:hover .close-btn{
  display: block;
  z-index: 1;
}

.tabs {
  display: flex;
  margin-bottom: 10px;
  gap: 5px;
}

.tab-btn {
  flex: 1;
  padding: 6px 0;
  background: #d5c9c9;
  border: none;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  transition: background 0.2s, border-color 0.2s;
  font-size: inherit;
  font-weight: 300;
}

.tab-btn.active {
  background: #ffeaea;
  font-weight: 400;
}

#recent-posts,
#recent-tgs {
  display: none;
}

/* Only show if .blockL-show-posts or .blockL-show-tgs is present on <body> */
body.blockL-show-posts #recent-posts {
  display: flex;
}
body.blockL-show-tgs #recent-tgs {
  display: flex;
}


/* app-block-M styles */
.tag-list {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-shadow: inset 0 0 30px 2px #7e7e7e;
  min-width: 300px;
  max-width: 100%;
  min-height: 200px;
  padding: 7px;
  border-radius: 10px;
}

.tag {
  --tag-box-shadow-color: #0404c6;

  position: relative; /* Make this the reference for absolute children */
  box-shadow: inset 0 0 30px 2px var(--tag-box-shadow-color);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #20c3c3;
  min-width: 70px;
  height: 25px;
  border-radius: 5px;
  color: white;
  margin: 7px;
  font-size: 14px;
  padding: 5px 7px;
}

.tag:nth-child(1n+31) {
  --tag-box-shadow-color: #2e2e2e;

  background-color: gray;
}

.tag button {
  position: absolute;
  top: -2px;
  right: -2px;
  display: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  color: white;
  background: linear-gradient(to bottom, #2332a9 40%, #cdf5f8 40% 60%, #2332a9 60%);
  box-shadow: inset 0 0 3px 2px #2332a9, 0 0 2px 0 #cdf5f8;
}

.tag:hover button {
  display:block;
}

.input-button-group {
  display: flex;
  width: 97%;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 1px 3px var(--border-muted);
  background: var(--bg-light);
}

.input-button-group input[type="text"] {
  flex: 1;
  border: none;
  padding: 5px;
  font-size: inherit;
  outline: none;
  border-radius: 0;
  background: transparent;
  min-width: 0;
}

.input-button-group button[type="submit"] {
  border: none;
  background: #1976d2;
  color: #fff;
  font-size: 1em;
  padding: 0 2em;
  margin-left: 0;
  border-radius: 0;
  transition: background 0.2s;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.input-button-group button[type="submit"]:hover {
  background: #135a96;
}

.post-tg-intermediate {
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.edit-like-text {
  border: none;
  background: var(--bg);
  font: inherit;
  padding: 5px;
  margin: 0;
  overflow: hidden !important;
  resize: none; /* for textarea */
  box-shadow: inset 1px 1px 4px var(--border-muted);
  border-radius: 5px;
  color: var(--text-muted);
}

.edit-like-text:focus {
  background: var(--bg-light);
  box-shadow: inset 1px 1px 4px var(--border-light);  /* --border-light didn't set for dark mode */
  outline: none;
}

textarea.edit-like-text {
  width: calc(100% - 10px);
  min-height: 115px;
  font-size: var(--text-size-M);
}

input.edit-like-text {
  width: auto;
  min-width: 1em;
  text-align: center;
  font-size: var(--text-size-L);
}

.update-btn {
  display: none;
}

.item-editor form {
  display: flex;
  align-items: center;
}

.form-wrapper-outer {
  display: flex;
  justify-content: center;
}

.form-wrapper-inner {
  display: inline-block;
  position: relative;
}

.delete-form {
  position: absolute;
  right: -23px;
  bottom: 5px;
}

.delete-btn {
  border: none;
  background-image: url(/static/img/remove-round-svgrepo-com.svg);
  background-repeat: no-repeat;
  width: 20px;
  aspect-ratio: 1;
  background-size: 100%;
  border-radius: 50%;
}

.item-editor .update-form {
  justify-content: center;
}


/* app-block-R styles */
#post-preview-tags {
  overflow: hidden;
  font-size: var(--text-size-S);
}

.post-preview:not(div) {
  color: var(--text);
  font-size: var(--text-size-L);
}

.post-preview-text .update-form {
  margin: 10px 0;
}
