:root {
  --padding: 0.8rem;
  --tab-height: 2.4rem;
}

.content-nested {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--bg-dark);
}

#app-main {
  display: flex;
  min-width: 100%;
  flex: 1 1 0;
  min-height: 0;
  gap: var(--gap);
}

#app-main .app-block {
  padding: var(--padding);
  overflow: auto;
  background-color: var(--bg);
  border-radius: var(--border-radius-L);
  box-shadow: inset 0 0 var(--outline-width) var(--outline-width) var(--border-muted);
  position: relative;
  flex-grow: 1;
  min-height: 11rem;
}

#app-main > .app-block-L {
  padding: var(--padding) 0;
}

.app-block-L {
  min-width: var(--block-L-min-width);
  width: 15%;
}

.app-block-M {
  min-width: 38rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.app-block-R {
  min-width: 24rem;
  width: 33%;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* app-block-L styles */
.tabs {
  display: flex;
  gap: var(--gap);
  height: var(--tab-height);
}

/* Unified style for item-like objects */
button.tab-btn,
.list-item {
  border-radius: var(--border-radius-S);
  cursor: pointer;
  color: var(--text-muted);
  background-color: var(--bg-dark);
  box-shadow: 0 0 0 var(--outline-width) var(--border-muted);
  font-weight: 350;
  padding: 5px 1ch;
  transition: background 0.2s, box-shadow 0.2s, transform 0.2s;
}

.tab-btn {
  flex: 1;
  transition: background 0.2s, border-color 0.2s;
  font-size: var(--text-size-M1);
  font-weight: 400;
  height: var(--tab-height);
}

.list-item {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  height: 3rem;
  min-height: 3rem;
  max-height: 3rem;
  line-height: 1.5;
}

.list-item,
.tabs {
  margin: 0 var(--padding);
}

.list {
  margin-top: var(--gap);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  /* Height should be 100% minus all the elements before with gaps and paddings */
  height: calc(100% - var(--padding) - var(--tab-height) - var(--gap));
  position: relative;
}

.list-inner {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  overflow: auto;
  scrollbar-width: none;
  padding-top: var(--outline-width);
}

button.tab-btn:hover,
.list-inner .list-item:hover {
  box-shadow: 0 0 0 var(--outline-width) var(--primary-universal);
}

.list-inner .list-item:active {
  transform: scale(0.98);
}

.list-end {
  position: absolute;
  bottom: 0;
  left: var(--outline-width);
  height: 6rem;
  width: calc(100% - var(--outline-width) * 2);
  background: linear-gradient(to top, var(--bg) 0, transparent 4rem);
  pointer-events: none;
}

.list-item:last-child {
  margin-bottom: calc(var(--gap) / 2);
}

.list-item-title {
  font-size: var(--text-size-M1);
  color: var(--text-muted);
  overflow: hidden;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.list-item-date {
  position: absolute;
  right: 0.3rem;
  bottom: 0.35rem;
  font-size: var(--text-size-S);
  color: var(--text-dimmed);
  font-style: italic;
  background: linear-gradient(to right, transparent, var(--bg-dark) 2.5rem);
  padding: 0.3rem 0.3rem 0 3.5rem;
}

.list-item label {
  display: flex;
  justify-content: center;
  gap: 3px;
  flex-direction: column;
}

.create-item-btn {
  font-size: var(--text-size-S);
  height: 1.4rem;
  padding: 0;
}

.list-item input[type="text"] {
  border: none;
  padding: 4px;
  font-size: var(--text-size-S);
  outline: none;
  background: var(--bg-light);
  min-width: 0;
  border-radius: var(--border-radius-S);
  text-align: center;
}

#recent-posts,
#recent-tgs {
  display: none;
}

/* Only show if .blockL-show-posts or .blockL-show-tgs is present on <body> */
body.blockL-show-posts #recent-posts {
  display: flex;
}

body.blockL-show-tgs #recent-tgs {
  display: flex;
}

.block-controls {
  gap: var(--gap);
  right: calc(var(--gap) - var(--padding));
  top: calc(var(--gap) - var(--padding));
  align-items: center;
  display: flex;
  position: absolute;
}

/* app-block-M styles */
.item-editor {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.tag-list {
  flex-grow: 1;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-shadow: 0 0 0 var(--outline-width) var(--border-muted);
  padding: 0.9rem 0.8rem;
  border-radius: var(--border-radius-M);
  user-select: none;
  margin: 0.2rem 0 0.2rem 0;
  overflow: auto;
  gap: 0.8rem;
  background: var(--bg-dark);
}

.tag-counter {
    position: absolute;
    left: calc(50% - 1ch);
    top: 6.25rem;
    font-size: var(--text-size-S);
    min-width: 4ch;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-M);
    color: var(--text-muted);
    background: var(--border-muted);
    z-index: 5;
    box-shadow: 0 0 0 var(--outline-width) var(--text-dimmed);
}

.tag.sortable-ghost,
.tag {
  position: relative;
  box-shadow: 0 0 0 var(--outline-width) var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-universal);
  min-width: 3.4rem;
  height: 1.8rem;
  border-radius: var(--border-radius-S);
  color: #e8e8e8;
  font-size: var(--text-size-M2);
  padding: 0.4rem 1.2ch;
  cursor: grab;
  font-weight: 350;
}

.tag.sortable-ghost:nth-child(1n+31),
.tag:nth-child(1n+31) {
  background-color: #5f5d5d;
  box-shadow: 0 0 0 var(--outline-width) var(--primary);
}

.tag.sortable-chosen {
  background-color: #134481;
  box-shadow: 0 0 0 var(--outline-width) #e8e8e8;
}

.tag:hover button {
  display:block;
}

.tag-list.dragging,
.tag-list.dragging .tag,
.tag-list.dragging .tag.sortable-ghost,
.tag-list.dragging .tag.sortable-chosen {
  cursor: grabbing !important;
}

.tag.sortable-ghost {
  opacity: 0.3;
}

.tag-list.dragging .tag:hover button {
  display: none;
}

.tag-list.dragging .tag:hover button:hover {
  display: block;
}

.input-button-group {
  display: flex;
  width: 97%;
  border-radius: var(--border-radius-S);
  overflow: hidden;
  background: var(--bg-light);
}

.add-tags-input {
  flex: 1;
  border: none;
  padding: var(--input-text-padding) 0.8rem;
  font-size: var(--text-size-M2);
  outline: none;
  border-radius: var(--border-radius-S) 0 0 var(--border-radius-S);
  background: var(--input-unfocused);
  min-width: 0;
}

input.add-tags-input:focus {
  background: transparent;
}

.post-tg-intermediate {
  display: flex;
  gap: calc(1.5 * var(--gap));
  align-items: center;
  justify-content: center;
  font-size: var(--text-size-M2);
  color: var(--text-dimmed);
  font-weight: 500;
}

.post-tg-intermediate form {
  display: contents;
}

.edit-like-text {
  border: none;
  background: var(--bg);
  font: inherit;
  padding: var(--input-text-padding);
  margin: 0;
  border-radius: var(--border-radius-S);
  color: var(--text-muted);
}

.edit-like-text:focus {
  background: var(--bg-light);
  outline: none;
}

textarea.edit-like-text {
  width: calc(100% - 2 * var(--input-text-padding));
  resize: none;
  min-height: calc((100vh - 2 * var(--padding) - 2 * var(--content-nested-padding) - var(--header-height)) / 3);
  font-size: var(--text-size-M2);
  field-sizing: content;
}

input.edit-like-text {
  width: auto;
  min-width: 1em;
  text-align: center;
  font-size: var(--text-size-L);
}

/* app-block-R styles */
#post-preview-tags {
  overflow: hidden;
  font-size: var(--text-size-M1);
  margin: var(--gap) 0;
}

.post-preview-text {
  width: 100%;
}

.post-preview-text .update-form label {
  display: flex;
}

.post-preview-header {
  width: 100%;
}

/* common styles */
button.tab-btn.active,
.list-item.active {
  font-weight: 400;
  background-color: var(--bg-light);
  box-shadow: 0 0 0 var(--outline-width) var(--border-light);
  color: var(--text);
}

.list-item.active:hover,
.list-item.active:active {
  box-shadow: 0 0 0 var(--outline-width) var(--border-light);
}

.list-item.active > .list-item-date {
  background: linear-gradient(to right, transparent, var(--bg-light) 2.5rem);
  color: var(--text-muted);
}

.list-item.active > .list-item-title {
  color: var(--text);
}

.empty-state-text {
  color: var(--text-muted);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--text-size-L);
  position: absolute;
  height: calc(100% - var(--padding) * 2);
  width: calc(100% - var(--padding) * 2);
  padding: 0 var(--padding);
  gap: calc(var(--gap) / 2);
}

.create-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  font-size: var(--text-size-L);
  color: var(--text-dimmed);
  font-weight: 500;
  gap: 0 0.3rem;
}

.item-editor form,
.name-update-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-update-form label {
  max-width: calc(100% - 140px - 2 * var(--gap));
}

.name-update-form label input[type="text"] {
  max-width: 100%;
}

