{% extends 'base.html' %}

{% block title %}Profile{% endblock title %}

{% block content %}
  {% if user.is_authenticated %}
    <img src="{{ user.profile_picture }}" alt="" class="rounded">
    <p>You're signed in as {{ user.full_name }} ({{ user.email }})</p>
    <p class="hidden">Your uid is {{ social_acc.uid }}</p>
    {% if user.is_staff and user.is_superuser %}
      You have access to the <a href="{% url 'admin:index' %}">Admin Panel</a>
    {% endif %}
    <p>
    <div class="profile-actions">
      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        <button>Sign Out</button>
      </form>
      <form method="post" action="{% url 'delete_account' %}" style="display: inline; margin-left: 1rem;">
        {% csrf_token %}
        <button type="button" class="delete-item-btn danger-btn" data-item-name="{{ user.email }}"
                data-delete-type="account" title="Delete Account">Delete Account</button>
      </form>
    </div>

  {% else %}
    <p>You are not signed in</p>
      <form method="post" action="{% url 'google_login' %}{% if request.GET.next %}?next={{ request.GET.next|urlencode }}{% endif %}">
        {% csrf_token %}
        <button>Sign In with Google</button>
      </form>
  {% endif %}
{% endblock content %}
