{% extends 'base.html' %}

{% block title %}Profile{% endblock title %}

{% block content %}
  {% if user.is_authenticated %}
    <img src="{{ user.profile_picture }}" alt="" class="rounded">
    <p>You're signed in as {{ user.full_name }} ({{ user.email }})</p>
    <p>Your uid is {{ social_acc.uid }}</p>
    {% if user.is_staff and user.is_superuser %}
      You have access to the <a href="{% url 'admin:index' %}">Admin Panel</a>
    {% endif %}
    <p>
      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        <button>Sign Out</button>
      </form>
  {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'google_login' %}">Login</a>
  {% endif %}
{% endblock content %}