<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{% static 'img/hashtag-square-svgrepo-com.svg' %}" sizes="any">
  <link rel="stylesheet" href="{% static 'css/general_style.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom_style.css' %}">
  <link rel="stylesheet" href="{% static 'css/messaging_style.css' %}">
  <link rel="stylesheet" href="{% static 'css/buttons_style.css' %}">
  <link rel="stylesheet" href="{% static 'css/modal_window_style.css' %}">
  {% block links %}
  {% endblock links %}
  <script>{% block script %}{% endblock script %}</script>
  <script src="{% static 'js/show_messages.js' %}"></script>
  <script src="{% static 'js/show_resolution.js' %}"></script>
  <script src="{% static 'js/toggle_theme.js' %}"></script>
  {% block scripts %}
  {% endblock scripts %}
  <title>TagMate - {% block title %}{% endblock title %}</title>
</head>
<body>
<script>
  (function () {
    var tab = localStorage.getItem('blockL_selected_tab') || 'posts';
    document.body.classList.add(tab === 'tgs' ? 'blockL-show-tgs' : 'blockL-show-posts');
  })();
</script>
<div class="header">
  <div class="header-left">
    {% with request.resolver_match.url_name as url_name %}
      <a href="/" class="header-logo"><img src="{% static 'img/hashtag-square-svgrepo-com.svg' %}" height="35" alt=""
                                           loading="lazy"></a>
      <a href="{% url 'index' %}" class="{% if url_name in 'index post_editor post_tg_editor' %}nav-active{% endif %}">Post
        Editor</a>
      {% if user.is_authenticated %}
        <a href="{% url 'profile' %}" class="{% if url_name == 'profile' %}nav-active{% endif %}">Profile</a>
      {% endif %}
    {% endwith %}
  </div>
  TagMate
  <div class="header-right">
    <div class="theme-toggle">
      <button id="theme-toggle-btn" aria-label="Toggle theme">
        <span id="theme-label">🌞</span>
      </button>
    </div>
    {% block header-filter %}
      <a href="https://github.com/serious-pavel/personal_site"><img src="{% static 'img/github-142-svgrepo-com.svg' %}"
                                                                    alt=""></a>
      <a href="https://www.linkedin.com/in/pavel-makhnev/"><img src="{% static 'img/linkedin-fill-svgrepo-com.svg' %}"
                                                                alt=""></a>
    <span id="resolutionWidget" style="font-size: small; color: #888;"></span>
    {% endblock %}
  </div>
</div>
<div class="content-main">
  <div class="content-nested">
    <div class="message-area">
      {% if messages %}
        {% for message in messages %}
          <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    </div>
    {% block content %}
    {% endblock content %}
  </div>
</div>
</body>
</html>