<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
  <link rel="shortcut icon" href="{% static 'img/hashtag-square-svgrepo-com.svg' %}" sizes="any">
  <link rel="stylesheet" href="{% static 'css/general_style.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom_style.css' %}">
  <link rel="stylesheet" href="{% static 'css/messaging_style.css' %}">
  <link rel="stylesheet" href="{% static 'css/buttons_style.css' %}">
  <link rel="stylesheet" href="{% static 'css/modal_window_style.css' %}">
  <link rel="stylesheet" href="{% static 'css/screen_sizes.css' %}">
  {% block links %}
  {% endblock links %}
  <script>{% block script %}{% endblock script %}</script>
  <script src="{% static 'js/browsers.js' %}"></script>
  <script src="{% static 'js/show_messages.js' %}"></script>
  <script src="{% static 'js/foolproof_deletion.js' %}"></script>
  <script src="{% static 'js/modal_window_interactions.js' %}"></script>
  <script src="{% static 'js/about_modal_window.js' %}"></script>
  <script src="{% static 'js/mobile_layout.js' %}"></script>
  {% if user.is_superuser %}
    <script src="{% static 'js/show_resolution.js' %}"></script>
  {% endif %}
  {% block scripts %}
  {% endblock scripts %}
  <title>TagMate - {% block title %}{% endblock title %}</title>
</head>
<body>
<script src="{% static 'js/toggle_theme.js' %}"></script>
<script>
  (function () {
    var tab = localStorage.getItem('blockL_selected_tab') || 'posts';
    document.body.classList.add(tab === 'tgs' ? 'blockL-show-tgs' : 'blockL-show-posts');
  })();
</script>
<div class="header">
  {% with request.resolver_match.url_name as url_name %}
    <div class="header-left small-screen-only" id="nav-icons">
        {% if url_name != 'profile' %}
          <button id="nav-toggle-btn" class="small-screen-only show-nav-list">
            {% include 'buttons/nav-combined.svg' %}
          </button>
        {% endif %}
        <a href="{% url 'index' %}" class="nav-link {% if url_name in 'index post_editor post_tg_editor' %}nav-active{% endif %}">
          {% include 'buttons/hashtag.svg' %}
        </a>
        {% if user.is_authenticated %}
          <a href="{% url 'profile' %}" class="nav-link {% if url_name == 'profile' %}nav-active{% endif %}">
            {% include 'buttons/profile.svg' %}
          </a>
        {% endif %}
    </div>
    <div class="header-left large-screen-only">
      <a href="{% url 'index' %}" class="nav-link {% if url_name in 'index post_editor post_tg_editor' %}nav-active{% endif %}">
        Post Editor
      </a>
      {% if user.is_authenticated %}
        <a href="{% url 'profile' %}" class="nav-link {% if url_name == 'profile' %}nav-active{% endif %}">Profile</a>
      {% endif %}
    </div>
  {% endwith %}
  <div class="header-right">
    <div class="theme-toggle">
      <button id="theme-toggle-btn" aria-label="Toggle theme">
        {% include 'buttons/theme-toggle.svg' %}
      </button>
    </div>
    {% block header-filter %}
      <a href="https://github.com/serious-pavel/tagmate" target="_blank">
        {% include 'buttons/github-fill-svgrepo-com.svg' %}
      </a>
      <a href="https://www.linkedin.com/in/pavel-makhnev/" target="_blank">
        {% include 'buttons/linkedin-fill-svgrepo-com.svg' %}
      </a>
      {% if user.is_superuser %}
        <span id="resolution-widget"></span>
      {% endif %}
      <button id="about-btn" aria-label="About">
        {% include 'buttons/question-circle.svg' %}
      </button>
    {% endblock %}
  </div>
</div>
<div class="content-main">
  {% with request.resolver_match.url_name as url_name %}
    <div class="content-nested {% if url_name == 'profile' %}profile{% endif %}">
      <div class="message-area">
        {% if messages %}
          {% for message in messages %}
            <div class="message {{ message.tags }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
      </div>
      <div id="delete-modal-bg" class="modal-bg" style="display:none;">
        <div class="modal-window">
          <div class="highlighted-text modal-window-header" id="delete-item-name">Delete item</div>
          <div id="delete-modal-text" class="modal-window-body">Are you sure you want to delete this item?</div>
          <div class="modal-window-controls">
            <button id="confirm-delete-btn" class="danger-btn">Yes, Delete</button>
            <button id="cancel-delete-btn">Cancel</button>
          </div>
        </div>
      </div>

      <div id="generic-modal-bg" class="modal-bg" style="display:none;">
        <div class="modal-window">
          <div class="highlighted-text modal-window-header" id="generic-modal-text">Create item</div>
          <form method="post" class="create-item-form" id="create-item-form">
            {% csrf_token %}
            <input type="hidden" name="action" value="none">
            <label>
              <input type="text" name="new_item_name" placeholder="Title/Name (optional)"
                    class="edit-like-text modal-window-body" enterkeyhint="send">
            </label>
          </form>
          <div class="modal-window-controls">
            <button type="submit" id="modal-confirm-btn" form="create-item-form">Create</button>
            <button id="modal-cancel-btn" class="cancel-btn">Cancel</button>
          </div>
        </div>
      </div>

      <div id="about-modal-bg" class="modal-bg" style="display:none;">
        <div class="modal-window">
          <div class="highlighted-text modal-window-header" id="generic-modal-text">Icons &amp; Licenses</div>
          <div class="modal-window-body">
            <section id="about-icons" style="font-size: var(--text-size-S);">
              <p style="font-size: var(--text-size-M1)">
                This project uses the following icon collections:
              </p>
              <p>
                <strong><a href="https://www.svgrepo.com/collection/solar-linear-icons/" target="_blank" rel="noopener noreferrer">Solar Linear Icons</a></strong>
                by <a href="https://www.figma.com/@480design" target="_blank" rel="noopener noreferrer">480 Design</a> and
                <a href="https://www.figma.com/@voidrainbow" target="_blank" rel="noopener noreferrer">R4IN80W</a>. Licensed under the
                <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener noreferrer">Creative Commons Attribution License (CC BY 4.0)</a>.
                Some elements were added, modified or removed for visual and functional integration into the site’s design.
              </p>
              <p>
                <strong><a href="https://www.svgrepo.com/collection/social-media-fill-icons/" target="_blank" rel="noopener noreferrer">Social Media Fill Icons</a></strong>
                by <a href="https://dribbble.com/agencednd" target="_blank" rel="noopener noreferrer">Agence DnD</a>. Provided under the
                <a href="https://www.svgrepo.com/page/licensing/#Logo" target="_blank" rel="noopener noreferrer">Logo License</a>.
                Adjustments were made only to color and layout for design consistency. Logos are trademarks of their respective companies and are used for identification only.
              </p>
            </section>
          </div>
          <div class="modal-window-controls">
            <button id="about-close-btn" class="cancel-btn">Close</button>
          </div>
        </div>
      </div>
      {% block content %}
      {% endblock content %}
    </div>
  {% endwith %}
</div>
</body>
</html>
