name: Deploy Tagmate to VPS

on:
  workflow_run:
    workflows: ["CI - Test and Lint"]
    types: [completed]
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.event == 'push'
    env:
      DEPLOY_TARGET: "/opt/${{ github.event.repository.name }}"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Copy files to server
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          passphrase: ${{ secrets.VPS_SSH_PASSPHRASE }}
          source: "."
          target: "${{ env.DEPLOY_TARGET }}"

      - name: Write secrets to .env file
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          passphrase: ${{ secrets.VPS_SSH_PASSPHRASE }}
          envs: >
            DEPLOY_TARGET,
            DB_NAME,DB_USER,DB_PASS,
            DJANGO_SECRET_KEY,DJANGO_ALLOWED_HOSTS,
            GOOGLE_WEBAPP_CLIENT_ID,GOOGLE_WEBAPP_CLIENT_SECRET,
            SU_UID,SU_EMAIL,
            DEBUG,IS_PRODUCTION,DOMAIN
          script: |
            cd "$DEPLOY_TARGET"
            envsubst < .env.prod.template > .env.prod
        env:
          DB_NAME: ${{ secrets.DB_NAME }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASS: ${{ secrets.DB_PASS }}
          DJANGO_SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}
          DJANGO_ALLOWED_HOSTS: ${{ secrets.DJANGO_ALLOWED_HOSTS }}
          GOOGLE_WEBAPP_CLIENT_ID: ${{ secrets.GOOGLE_WEBAPP_CLIENT_ID }}
          GOOGLE_WEBAPP_CLIENT_SECRET: ${{ secrets.GOOGLE_WEBAPP_CLIENT_SECRET }}
          SU_UID: ${{ secrets.SU_UID }}
          SU_EMAIL: ${{ secrets.SU_EMAIL }}
          DEPLOY_TARGET: ${{ env.DEPLOY_TARGET }}
          DEBUG: ${{ vars.DEBUG }}
          IS_PRODUCTION: ${{ vars.IS_PRODUCTION }}
          DOMAIN: ${{ vars.DOMAIN }}

      - name: Pull, Build and Run services
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          passphrase: ${{ secrets.VPS_SSH_PASSPHRASE }}
          envs: DEPLOY_TARGET
          script: |
            cd "$DEPLOY_TARGET"
            docker compose -f docker-compose-prod.yml --env-file .env.prod pull
            docker compose -f docker-compose-prod.yml --env-file .env.prod build
            docker compose -f docker-compose-prod.yml --env-file .env.prod up -d
        env:
          DEPLOY_TARGET: ${{ env.DEPLOY_TARGET }}